# Pandas

DataSet Link - https://docs.google.com/spreadsheets/d/1q2vErB2pI3m7Sdu13_xR-9a1otStakdG5z1deCEMoTs/edit?usp=sharing

In [1]:
import pandas as pd


df = pd.read_csv("Mobilephone_data_final_V2 - ndtv_data_final.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   1359 non-null   object
 1   Battery capacity (mAh)  1359 non-null   int64
 2   Screen size (inches)    1359 non-null   float64
 3   Touchscreen             1359 non-null   object
 4   Resolution x            1359 non-null   int64
 5   Resolution y            1359 non-null   int64
 6   Processor               1359 non-null   int64
 7   RAM (MB)                1359 non-null   int64
 8   Internal storage (GB)   1359 non-null   float64
 9   Rear camera             1359 non-null   float64
 10  Front camera            1359 non-null   float64
 11  Operating system        1359 non-null   object
 12  Wi-Fi                   1359 non-null   object
 13  Bluetooth               1359 non-null   object
 14  GPS                     1359 non-null   object
 15  Number of SIMs          1359 non-null   int64
 16  3G                      1359 non-null   object
 17  4G/ LTE                 1359 non-null   object
 18  Price                   1359 non-null   int64
dtypes: float64(4), int64(7), object(8)
memory usage: 201.9+ KB

 retrieve the values in the "RAM" column for all smartphones in the dataset?

In [2]:
print(df['RAM (MB)'])

0       12000
1        6000
2        4000
3        4000
4        6000
        ...
1354      512
1355     1000
1356      512
1357      256
1358     1000
Name: RAM (MB), Length: 1359, dtype: int64

Retrieve the "Brand" and "Price" columns for the smartphones with a battery capacity greater than 4000 mAh.

In [7]:
cond_df = df[df['Battery capacity (mAh)'] > 4000]

result = cond_df[['Brand','Price']]
print(result)

        Brand  Price
0     OnePlus  58998
6     OnePlus  52990
7     Samsung  79699
8        Asus  37999
14       Oppo  36990
...       ...    ...
1117       LG   6999
1154    Meizu   5290
1158  Samsung  19980
1186       HP  88719
1199   Lenovo   7679

[125 rows x 2 columns]

Find smartphones with internal storage greater than 100 GB or a rear camera resolution above 20 MP.

In [8]:
df_smarphone = df[(df['Internal storage (GB)'] > 100) | (df['Rear camera'] > 20)]
print(df_smarphone)

        Brand  Battery capacity (mAh)  Screen size (inches) Touchscreen  \
0     OnePlus                    4085                  6.67         Yes
1      Realme                    4000                  6.50         Yes
4          LG                    4000                  6.40         Yes
5     OnePlus                    3800                  6.55         Yes
6     OnePlus                    4085                  6.67         Yes
...       ...                     ...                   ...         ...
1173   mPhone                    3050                  5.50         Yes
1178     Zopo                    3600                  5.50         Yes
1182     Sony                    2620                  5.00         Yes
1309     Sony                    3430                  5.50         Yes
1336     Sony                    2600                  5.00         Yes

      Resolution x  Resolution y  Processor  RAM (MB)  Internal storage (GB)  \
0             1440          3120          8     12000                  256.0
1             1080          2400          8      6000                   64.0
4             1080          2340          8      6000                  128.0
5             1080          2400          8      8000                  128.0
6             1440          3120          8      8000                  256.0
...            ...           ...        ...       ...                    ...
1173          1080          1920          8      4000                   64.0
1178          1080          1920         10      4000                   32.0
1182          1080          1920          1      3000                   32.0
1309          2160          3840          8      3000                   32.0
1336          1080          1920          8      3000                   16.0

      Rear camera  Front camera Operating system Wi-Fi Bluetooth  GPS  \
0            48.0          16.0          Android   Yes       Yes  Yes
1            64.0          16.0          Android   Yes       Yes  Yes
4            12.0          32.0          Android   Yes       Yes  Yes
5            48.0          16.0          Android   Yes       Yes   No
6            48.0          16.0          Android   Yes       Yes  Yes
...           ...           ...              ...   ...       ...  ...
1173         21.0           8.0          Android   Yes       Yes  Yes
1178         21.0           8.0          Android   Yes       Yes  Yes
1182         23.0          13.0          Android   Yes       Yes  Yes
1309         23.0           5.0          Android   Yes       Yes  Yes
1336         21.5          13.0          Android   Yes       Yes  Yes

      Number of SIMs   3G 4G/ LTE  Price
0                  2  Yes     Yes  58998
1                  2  Yes     Yes  27999
4                  1   No      No  49990
5                  2  Yes     Yes  34930
6                  2  Yes     Yes  52990
...              ...  ...     ...    ...
1173               2  Yes     Yes   6499
1178               2  Yes     Yes   9980
1182               1  Yes     Yes  19990
1309               2  Yes     Yes  57500
1336               1  Yes     Yes   5999

[125 rows x 19 columns]

Add a new column named "Total Storage" that sums up the "RAM" and "Internal Storage" columns.

In [9]:
df['Total Storage'] = df['RAM (MB)'] + df['Internal storage (GB)']
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   1359 non-null   object
 1   Battery capacity (mAh)  1359 non-null   int64
 2   Screen size (inches)    1359 non-null   float64
 3   Touchscreen             1359 non-null   object
 4   Resolution x            1359 non-null   int64
 5   Resolution y            1359 non-null   int64
 6   Processor               1359 non-null   int64
 7   RAM (MB)                1359 non-null   int64
 8   Internal storage (GB)   1359 non-null   float64
 9   Rear camera             1359 non-null   float64
 10  Front camera            1359 non-null   float64
 11  Operating system        1359 non-null   object
 12  Wi-Fi                   1359 non-null   object
 13  Bluetooth               1359 non-null   object
 14  GPS                     1359 non-null   object
 15  Number of SIMs          1359 non-null   int64
 16  3G                      1359 non-null   object
 17  4G/ LTE                 1359 non-null   object
 18  Price                   1359 non-null   int64
 19  Total Storage           1359 non-null   float64
dtypes: float64(5), int64(7), object(8)
memory usage: 212.5+ KB
None

Set the "Brand" column as the index for the dataset.

In [ ]:
df.set_index('Brand',inplace= True)

Reset the index of the dataset.

In [ ]:
df.reset_index(inplace=True)

Calculate the average "Price" of smartphones in the dataset.

In [10]:
avg_price = df['Price'].mean()
print(avg_price)

11465.825607064018

Group the dataset by "Brand" and find the average battery capacity for each brand

In [5]:
brand_gp = df.groupby('Brand')
avg_bat_cap = brand_gp['Battery capacity (mAh)'].mean()
print(avg_bat_cap)

Brand
10.or      3940.000000
Acer       3210.000000
Alcatel    2819.000000
Apple      2517.176471
Aqua       2800.000000
              ...
Zopo       2510.833333
Zuk        3100.000000
iBall      2017.857143
iVoomi     2912.500000
mPhone     2825.000000
Name: Battery capacity (mAh), Length: 76, dtype: float64

Group the dataset by "Brand" and calculate the total storage (sum of RAM and Internal Storage) for each brand.

In [11]:
total_stor = brand_gp['Total Storage'].sum()
print(total_stor)

Brand
10.or      13144.000
Acer        5048.000
Alcatel    23208.000
Apple      45728.000
Aqua        1016.000
             ...
Zopo       28240.000
Zuk         4064.000
iBall      13150.024
iVoomi     30264.000
mPhone      7096.000
Name: Total Storage, Length: 76, dtype: float64

Group the data by "Operating System" and find both the average and maximum rear camera resolution for each OS.

In [22]:
group_OS = df.groupby('Operating system')

avg_rear_cam = group_OS['Rear camera'].mean()
print(avg_rear_cam)
max_rear_cam = group_OS['Rear camera'].max()
print(max_rear_cam)

Operating system
Android       12.180523
BlackBerry     7.000000
Cyanogen       8.320000
Sailfish       8.000000
Tizen          6.000000
Windows       11.036842
iOS           11.294118
Name: Rear camera, dtype: float64
Operating system
Android       108.0
BlackBerry     13.0
Cyanogen       21.0
Sailfish        8.0
Tizen           8.0
Windows        41.0
iOS            12.0
Name: Rear camera, dtype: float64

Create new column price ranges -  Low, Medium, High using price column and then group the data by these ranges, calculating the average screen size for each price range.

NOTE : you can set the price parameter for "price ranges" column by your own

In [17]:
def price_range(price):
  if price < 20000:
    return "low"
  elif 20000 <= price <= 50000:
    return "Medium"
  else:
    return "High"

df['Price Range'] = df['Price'].apply(price_range)

gp_df = df.groupby('Price Range')

avg_screen_size = gp_df['Screen size (inches)'].mean()
print(avg_screen_size)

Price Range
High      6.087632
Medium    5.748607
low       5.219541
Name: Screen size (inches), dtype: float64

Group the dataset by "Brand" and calculate the average battery capacity for smartphones with a price above 50000.

In [15]:
filtered_df= df[df['Price'] > 50000]
avg_bat = filtered_df.groupby('Brand')['Battery capacity (mAh)'].mean()
print(avg_bat)

Brand
Apple      3026.166667
Asus       4000.000000
Cat        4500.000000
Google     3250.000000
HP         4150.000000
HTC        3357.500000
Huawei     4225.000000
OnePlus    4085.000000
Oppo       3730.000000
Razer      4000.000000
Samsung    3878.000000
Sony       3298.000000
Name: Battery capacity (mAh), dtype: float64